// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-title {
  display: inline;
}

.transaction {
  &.incoming {
    color: lawngreen;
    &:before {
      content: "+";
    }
  }
  &.outgoing {
    color: red;
    &:before {
      content: "-";
    }
  }
}
